doctype html
html
    head
        title Twitter Words
        meta(charset='utf8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        style.
            .loading {
                font: normal 38px "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                margin-top: 15px;
            }
    body
        words-app
            .loading Loading...
        script(src='./webpack/bundle.js')
        script.
            System.config({
                packages: {
                    js: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('js/boot')
                    .then(null, console.error.bind(console));